.alert {
    padding: 20px;
    background-color: #ff0000;
    color: white;
}

.alert_good {
    padding: 20px;
    background-color: #00ff4c;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}